	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					<a href="/">YoungReads</a>
				</h1>
			</div>
		</div>
	</section>
	<div class="hero-head">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<span class="navbar-burger burger" data-target="navbarKnoppen">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>
				<div id="navbarKnoppen" class="navbar-menu">
					<div class="navbar">
						<a href="/alleboeken" class="navbar-item">
							Alle Boeken
						</a>
						<a href="/mijnboeken" class="navbar-item">
							Mijn Boeken
						</a>
						<a href="/leeslijst" class="navbar-item">
							Leeslijst
						</a>
					</div>
				</div>
				<div class="control">
					<form method="GET" action="zoeken">
						<div class="field has-addons">
							<div class="control">
								<input class="input" name="q" type="text" placeholder="Wat wil je zoeken?">
							</div>
							<div class="control">
								<button type="submit" class="button is-info">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>
	</div>
	<br>
