<function saveboektolist(id, err){ "INSERT INTO leeslijst_content (alias, code, boekid) VALUES ('alias', '1', '1139701')";
    if (err) throw err; console.log( "record inserted"); }>

    <function getboekid(id, err){ con.query( "SELECT boekid FROM leeslijst_content") function(err, result, fields){ if(err) throw
        err; console.log(result); } }>

        <!DOCTYPE html>
        <html>

        <head>
            <% include ../partials/head %>
                <title>Leeslijst</title>
        </head>

        <body>
            <% include ../partials/hero %>
                <div class="container">
                    <h1 class="title">Leeslijst</h1>
                    <div class="columns">
                        <div class="column is-7">
                            <div class="box2">
                                <p class="title">Leeslijst van</p>
                                <p class="subtitle">Username</p>
                                <article class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <p class="title">Maak een leeslijst</p>
                                <p> Ga met deze lijst naar de OBA bij jou in de buurt. Zo kan je makkelijk jouw boeken vinden.
                                    Kan je het niet vinden? Dan helpen we je daar graag! </p>
                                <div class="columns is-multiline is-mobile">
                                    <div class="column is-two-thirds">
                                        <div class="column is-left"></div>
                                        <a class="button is-link, is-rounded" title="opslaan" disabled>Opslaan</a>
                                        <a class="button is-link, is-rounded" title="Printen" disabled>Printen</a>
                                        <a class="button is-link, is-rounded" title="Lijst wissen" disabled>Lijst wissen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </body>

        </html>