<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<title>Test</title>
</head>
<body>
	<section class="hero is-light is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-6 is-offset-3">
					<h1 class="title">
						Binnenkort beschikbaar
					</h1>
					<h2 class="subtitle">
						YoungReads
					</h2>
				</div>
			</div>
		</div>
	</section>
</body>
</html>